<form method = "post" action = '/users/create'>
{{#user}}

	<input type = "text" placeholder = "Prénom" name = "firstname" value = "{{firstname}}">
	<input type = "text" placeholder = "Nom" name = "lastname" value = "{{lastname}}">
	<input type = "text" placeholder = "Login" name = "username" value = "{{username}}">
	<input type = "email" placeholder = "Email" name = "email" value = "{{email}}">
	<input type = "password" placeholder = "Mot de passe" name = "password" value = "{{password}}">
	
	<button type = "submit">Valider</button>	
	<form action="/users" method="get" style="display:inline;">
          <button type="submit">Annuler</button>
    </form>

{{/user}}
</form>
